doctype html
html(lang="en")
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/github-markdown.css')
    link(rel='stylesheet', href='/speech.css')
    title #{title}
  body
    h1 #{title}
    a(class='home-link' href='/') Home
    article.markdown-body !{speech}
